@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #1f1e1e;
    color: rgb(179, 116, 116);
    font-family: "Poppins",sans-serif;

}

    .container{
        
        width: 100%;
        min-height: 100vh;
        padding-left:8%;
        padding-right: 8%;
        box-sizing: border-box;
        overflow: hidden;
        
        /* align-items: center;
        justify-content: center; */
        
        
    }
    /* Calling by class */
    .logo {
        border-radius: 50%;
    }

    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo{
        width: 50px;
        cursor: pointer;
        margin: 30px 0;

    }

    .menu_icon{
        width: 25px;
        cursor: pointer;
        
    }

    nav{
        flex: 1;
        text-align: right ;

    }

    nav ul li{
        text-decoration : none;
        display: inline-block;
        margin-right: 30px;
        
    }

    nav ul li a{
        text-decoration: none;
        color: #f1eaea;
        font-size: 16px;
        /* transition-timing-function: ease-out; */


    }

    /*
    Edited on 21-07-23
    */
    nav ul li a::after{
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        background-color: #df493e;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
        
    }
    nav ul li a:hover::after{
        transform: scaleX(1);
    }
    nav ul li a:hover {
        color: #ff5ea2;
        font-size: 16px;
        
    }


    /* Editing row class */
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px 0;

    }

    .col_1{
        flex-basis: 40%;
        position: relative;
        margin-left: 50px;
    }




    .col_1 h2{
        font-size: 45px;
        color: rgb(179, 116, 116);
    }

    .col_1 h3{
        font-size: 25px;
        color: rgb(148, 94, 94);
    }
    .col_1 p{
        color: rgb(120, 78, 78);
        font-weight: 100;
        font-size: 16px;
        margin: 30px 0;
        font-size: 20px;
    }


    .col_1::after{
        content: '';
        width: 10px;
        height: 5rem;
        /* Rem is preffered in the height as it will be relative to the screen size */
        background: linear-gradient(#ff469f, #ff6062);
        position: absolute;
        left: -40px;
        top: 8px;
    }

    .col_2_profile_box{
        background: #ff574a;
        text-align: center;
        
        position: relative;
        /* add margin left in media query */
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px 50px;
        border-radius: 10%;
        box-shadow: 2px 10px 15px rgb(218, 151, 28);
    }

    /* Edited on 22-07-23 */
    .col_2_profile_box .menu_icon{
        margin: 1rem 1rem;
        /* For variable width  */
        width: 20vmax;
        justify-content: center;
        background: #fff;
        border-radius: 10rem;
        margin-top: 40px;
    }
    .col_2_profile_box h3{
        color:#f1eaea;
        font-weight: 500;
        background-color: transparent;
    }
    .col_2_profile_box p{
        color: white;
        background-color: transparent;
    }

    .wrapper{
        padding: 3vh 1dvw;
        display: inline-flex;
        background-color: #ff574a;
    }
    .wrapper .icon{
        margin: 0px 2vw;
        background: #ff574a;
        
        display: flex;
        z-index: 2;
        position: relative;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
    .wrapper .icon span{
        position : relative;
        height: 1.955em;
        width: 1.95em;
        display: block;
        background: #fff;
        text-align: top;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    }
    .wrapper .icon span{
        position: relative;
        font-size: 1.5em;
        line-height: 2em;
        background: transparent;
        text-decoration: none;
    }
    .wrapper .icon span a{
        background: transparent;
    }
    
    .wrapper .icon:hover span i{
        color: #fff;
    }
    .wrapper .icon .tooltip{
        position: absolute;
        top: 0px;
        color: #fff;
        background: #fff;
        padding: 10px 18px;
        border-radius: 25px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

    }
    .wrapper .icon:hover .tooltip{
        opacity: 1;
        pointer-events: auto;
        top: -70px;
        
    }
    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip{
        text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    }
    
    .wrapper .facebook:hover span,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip:before{
        background: #3B5999;
    }
    .wrapper .twitter:hover span,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip:before{
        background: #46C1F6;
    }
    .wrapper .github:hover span,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip:before{
        background: #333;
    }
    .wrapper .youtube:hover .tooltip,
    .wrapper .youtube:hover span,
    .wrapper .youtube:hover .tooltip:before{
        background: #DE463B;
    }
    .wrapper .icon .tooltip:before{
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: #fff;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    
    }







    .bottom_profile{
        margin-top: 1rem;
        background: #fff;
        /* color: #1b1919; /*nested p tag unable to inherit color property * */
        padding: 30px 0;
        /* padding : rem 0; */
        margin-right: -50px;
        margin-left: -50px;
        margin-bottom: -20px;
        border-radius: 20px;
        box-shadow: 0px 8px 15px rgb(218, 151, 28);
        
    }
    .bottom_profile p{
        color: #999;
    }

@media only screen and (max-width: 400px) {
    .wrapper{
        padding: 0.75vh 0vw;
    }
    .col_2_profile_box .menu_icon{
        margin: 1rem 1rem;
        /* For variable width  */
        width: 75%;
        padding: 6px;
        justify-content: center;
        background: #fff;
        border-radius: 10rem;
        margin-top: 40px;
    }
    .row{
        display: block;
        justify-content: space-between;
        align-items: center;
        margin: 30px 2%;
    }
    .col_1, .col_2_profile_box{
        flex: 100%;
        margin-left: 0.1vw;
        margin-right: 0.5vw;
    }
    .col_2_profile_box{
        overflow: hidden;
        justify-content: center;
    }
    .wrapper .icon span{
        position: relative;
        font-size: 1em;
        line-height: 1.49em;
    }
    .wrapper .icon span{
        position : relative;
        height: 1.4em;
        width: 1.4em;
        display: block;
        background: #fff;
        text-align: top;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    }
    
    
}

@media only screen and (max-width: 990px) and (min-width: 400px) {
    .container{
        width: 100%;
        
    
    }
    .navbar{
        width: 100%;
        display: flex!important;
        /* background: linear-gradient(#ff54a2, #ff575a); */
        align-items: center;
    }
    nav{
        flex: 1;
        text-align: left;
    }
    nav ul li a:hover{
        color: #CC00FF;
        
    }
    .row{
        display: block;
        justify-content: space-between;
        align-items: center;
        margin: 30px 2%;
    }
    .col_1, .col_2_profile_box{
        flex: 100%;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .col_2_profile_box .menu_icon{
        margin: 1rem 1rem;
        /* For variable width  */
        width: 75%;
        padding: 6px;
        justify-content: center;
        background: #fff;
        border-radius: 10rem;
        margin-top: 40px;
    }







    .wrapper{
        padding: 3vh 1.5vw;
        display: inline-flex;
        background-color: #ff574a;
    }
    .wrapper .icon{
        margin: 0px 2vw;
        background: #ff574a;
        
        display: flex;
        z-index: 2;
        position: relative;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
    }
    .wrapper .icon span{
        position : relative;
        height: 1.955em;
        width: 1.95em;
        display: block;
        background: #fff;
        text-align: top;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    }
    .wrapper .icon span{
        position: relative;
        font-size: 1em;
        line-height: 2em;
    }
    
}

